<?xml version='1.0' encoding='utf-8'?>
<plugin id="chinthan-plugin-texttospeechplugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TextToSpeechPlugin</name>
    <js-module name="TextToSpeechPlugin" src="www/TextToSpeechPlugin.js">
        <clobbers target="cordova.plugins.TextToSpeechPlugin" />
    </js-module>
    <!-- ios -->
      <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="TextToSpeechPlugin">
            <param name="ios-package" value="TextToSpeechPlugin"/>
          </feature>
        </config-file>
    
        <header-file src="src/ios/TextToSpeechPlugin.h" />
        <source-file src="src/ios/TextToSpeechPlugin.m" />
      </platform>
</plugin>
